/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
  outline: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  height: 13px; /* 3 */
  width: 13px; /* 3 */
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: "runo-icons";
  src: url("../fonts/runo-icons.eot?q2y33w");
  src: url("../fonts/runo-icons.eot?q2y33w#iefix") format("embedded-opentype"), url("../fonts/runo-icons.ttf?q2y33w") format("truetype"), url("../fonts/runo-icons.woff?q2y33w") format("woff"), url("../fonts/runo-icons.svg?q2y33w#runo-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "runo-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil::before {
  content: "\e901";
}

.icon-search-glass::before {
  content: "\e902";
}

.icon-trash::before {
  content: "\e903";
}

.icon-facebook::before {
  content: "\e900";
}

.icon-twitter::before {
  content: "\ea96";
}

.icon-youtube::before {
  content: "\ea9d";
}

.icon-behance::before {
  content: "\eaa9";
}

.icon-pinterest::before {
  content: "\ead1";
}

a {
  text-decoration: none;
  transition: 0.5s;
}

.hm-wrapper__hm-header a::before, .logo-wrapper a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  background-color: #212529;
  transition: width 0.4s;
}

input {
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
  transition: 0.5s;
}

.form {
  font: 400 16px/20px "Lora", serif;
  color: #212529;
}
.form label {
  font: 400 14px/20px "Lora", serif;
}
.form a {
  color: #D4A373;
}
.form a:hover {
  text-decoration: underline;
}

.article-list {
  font: 400 16px "Roboto", sans-serif;
}

body {
  font: 400 12px/20px "Lora", serif;
}

.login, .register {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.login > div, .register > div {
  flex: 50%;
}
.login__left, .login .register__left, .register__left, .register .register__left {
  position: relative;
}
.login__left .onix-logo, .login .register__left .onix-logo, .register__left .onix-logo, .register .register__left .onix-logo {
  display: block;
  height: 50px;
  width: 100px;
  background: url(../img/onix-logo.svg) center no-repeat;
  background-size: contain;
  transition: 0.4s;
  opacity: 0.7;
  position: absolute;
  bottom: 10px;
  left: 40px;
}
.login__left .onix-logo:hover, .login .register__left .onix-logo:hover, .register__left .onix-logo:hover, .register .register__left .onix-logo:hover {
  opacity: 1;
}
.login__left img, .login .register__left img, .register__left img, .register .register__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media all and (max-width: 991px) {
  .login__left, .login .register__left, .register__left, .register .register__left {
    display: none;
  }
}

.login__right, .register__right {
  padding: 0 20px;
  box-sizing: border-box;
}
.login__right .form-wrapper, .register__right .form-wrapper {
  max-width: 440px;
  margin: 0 auto;
}
.login__right .form-wrapper .logo-wrapper--padding-top, .register__right .form-wrapper .logo-wrapper--padding-top {
  padding: 96px 0 110px;
}
@media all and (max-width: 991px) {
  .login__right .form-wrapper, .register__right .form-wrapper {
    max-width: 525px;
  }
}

.logo-wrapper {
  padding: 124px 0 110px;
}
.logo-wrapper a {
  position: relative;
  font: 700 40px/44px "League Spartan", sans-serif;
  color: #212529;
  letter-spacing: 5px;
}
.logo-wrapper a:hover::before {
  width: 95%;
}
@media all and (max-width: 991px) {
  .logo-wrapper {
    text-align: center;
  }
}

.form legend {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  border: none;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}
@media all and (max-width: 991px) {
  .form legend {
    font-size: 30px;
    text-align: center;
  }
}
.form .input {
  padding: 0 10px;
  border: solid 1px #E5E5E5;
  margin: 10px 0 24px;
}
.form .input:valid {
  box-shadow: inset 0 0 2px 1px rgba(114, 173, 114, 0.607);
}
.form .input:focus {
  border: 1px solid #444444;
}
.form__rf-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
.form__rf-wrapper input {
  height: 20px;
  width: 20px;
  margin-right: 18px;
}
@media all and (max-width: 991px) {
  .form__rf-wrapper input {
    margin-right: 8px;
  }
}
.form__rf-wrapper span, .form__rf-wrapper a {
  font: 400 16px/24px "Lora", serif;
}
.form__rf-wrapper span {
  color: #000000;
}
.form__rf-wrapper label {
  display: flex;
  align-items: center;
}
.form .button {
  background: #D4A373;
  font: 700 16px/20px "Lora", serif;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.form .button:hover {
  background: #af7d4b;
}
.form .button_black {
  background: #343A40;
  margin-top: 20px;
}
.form .button_black:hover {
  background: #060606;
}
.form .links-wrapper {
  margin-top: 30px;
  color: #000000;
}
.form .links-wrapper span {
  margin-right: 8px;
}

.article-header, .home-header .header-wrapper {
  border-bottom: 1px solid #E5E5E5;
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  z-index: 1;
}
.article-header__inner-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 20px 27px 40px;
}
.article-header__inner-wrapper .logo-wrapper--article {
  padding: 0;
}
.article-header__inner-wrapper .logo-wrapper--article a {
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 5px;
}
.article-header__inner-wrapper .header-links > a {
  display: inline-block;
  font: 700 14px/20px "Lora", serif;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #212529;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding-bottom: 4px;
  margin-right: 27px;
}
.article-header__inner-wrapper .header-links > a:hover {
  border-bottom: 2px solid #D4A373;
}

.article-list {
  margin-top: 81px;
}
.article-list__inner-wrapper {
  margin: 0px auto;
  max-width: 1440px;
  padding: 0px 40px;
}
@media all and (max-width: 991px) {
  .article-list__inner-wrapper {
    padding: 0 20px;
  }
}
.article-list h2 {
  color: #212529;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin-bottom: 24px;
}
@media all and (max-width: 593px) {
  .article-list h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.home-link-wrapper {
  padding: 19px 0 10px;
}
.home-link-wrapper a {
  color: #D4A373;
  font-size: 14px;
  line-height: 16.4px;
  transition: 0.4s;
}
.home-link-wrapper a:hover {
  color: #af7d4b;
}

.search-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 26px;
}
.search-add form {
  position: relative;
  flex: 0 1 307px;
}
.search-add form .search {
  height: 40px;
  border: 1px solid #E5E5E5;
  font-size: 14px;
  line-height: 20px;
  padding-left: 44px;
}
.search-add form .search:focus {
  border: 1px solid #444444;
}
.search-add form .search:focus + .icon-search-glass {
  color: #D4A373;
}
.search-add form .icon-search-glass {
  color: #6C757D;
  transition: 0.4s;
  position: absolute;
  top: 8px;
  left: 14px;
  font-size: 22px;
}
@media all and (max-width: 593px) {
  .search-add form {
    width: 100%;
    flex: 1 1 100%;
  }
}
.search-add .button-add {
  display: block;
  padding: 10px 15px;
  background: #D4A373;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition: 0.4s;
}
.search-add .button-add:hover {
  background: #af7d4b;
}
@media all and (max-width: 593px) {
  .search-add .button-add {
    align-self: flex-end;
  }
}
@media all and (max-width: 593px) {
  .search-add {
    flex-direction: column;
  }
}

.table {
  width: 100%;
}
.table tr {
  border-bottom: 1px solid #E5E5E5;
}
.table th {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6C757D;
  text-transform: uppercase;
  padding-bottom: 7px;
  vertical-align: middle;
}
.table input {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.table .table-image {
  width: 5%;
  text-align: start;
}
@media all and (max-width: 991px) {
  .table .table-image {
    width: 7%;
  }
}
.table .table-title {
  width: 25%;
  text-align: start;
}
.table .table-author {
  width: 28%;
}
@media all and (max-width: 991px) {
  .table .table-author {
    width: 24%;
  }
}
.table .table-last-modified {
  width: 8.2%;
}
.table .table-status {
  width: 20.8%;
}
.table .table-action {
  width: 8.5%;
}
.table td {
  font-size: 16px;
  line-height: 24px;
  color: #495057;
  vertical-align: middle;
  padding: 20px 0;
}
.table td:nth-child(3) {
  font-weight: 500;
}
.table td:not(.table td:nth-child(2), .table td:nth-child(3)) {
  text-align: center;
}
.table .icon-pencil, .table .icon-trash {
  color: #000000;
  font-size: 24px;
  vertical-align: middle;
}
.table .icon-pencil {
  margin-right: 15px;
}
.table .icon-pencil:hover {
  color: #6fad66;
}
.table .icon-trash:hover {
  color: #d63e6b;
}
@media all and (max-width: 991px) {
  .table {
    width: 991px;
  }
}

@media all and (max-width: 991px) {
  .table-wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.home-header {
  position: relative;
}
.home-header .header-wrapper {
  border: none;
  background: rgba(0, 0, 0, 0.208);
  backdrop-filter: blur(2px);
}
.home-header .header-wrapper .inner-wrapper--padding {
  padding: 27px 45px 27px 50px;
}
@media all and (max-width: 375px) {
  .home-header .header-wrapper .inner-wrapper--padding {
    padding: 27px 15px 27px 30px;
  }
}
.home-header .header-wrapper .header-links > a {
  font-size: 12px;
  color: #E5E5E5;
}
@media all and (max-width: 375px) {
  .home-header .header-wrapper .header-links > a {
    margin-right: 10px;
  }
}
.home-header .header-wrapper .header-links > a:hover {
  color: #FFFFFF;
  border-bottom: 2px solid #D4A373;
}
.home-header .header-wrapper .home-logo {
  color: #F8F9FA;
}
.home-header .header-wrapper .home-logo::before {
  background: #F8F9FA;
}

.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 252px 0px 70px 70px;
  box-sizing: border-box;
}
.content-wrapper h1 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  max-width: 530px;
  color: #D4A373;
}
@media all and (max-width: 375px) {
  .content-wrapper h1 {
    font-size: 28px;
  }
}
@media all and (max-width: 375px) {
  .content-wrapper {
    padding: 172px 0px 70px 30px;
  }
}

.slider-wrapper {
  padding-top: 178px;
  display: flex;
  gap: 6px;
}
.slider-wrapper input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.slider-wrapper label {
  display: block;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  background: rgba(255, 255, 255, 0.307);
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}
.slider-wrapper .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s linear 0.3s;
}
.slider-wrapper .first {
  background: url("../img/header_bg_image.jpg") center center no-repeat;
  background-size: cover;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .slider-wrapper .first {
    background: url("../img/header_bg_image2x.jpg") center center no-repeat;
    background-size: cover;
  }
}
.slider-wrapper .second {
  background: url("../img/footer_bg_image.jpg") center center no-repeat;
  background-size: cover;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .slider-wrapper .second {
    background: url("../img/footer_bg_image2x.jpg") center center no-repeat;
    background-size: cover;
  }
}
.slider-wrapper .third {
  background: url("../img/header_bg_image.jpg") center center no-repeat;
  background-size: cover;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .slider-wrapper .third {
    background: url("../img/header_bg_image2x.jpg") center center no-repeat;
    background-size: cover;
  }
}
.slider-wrapper .one:checked + label, .slider-wrapper .two:checked + label, .slider-wrapper .three:checked + label {
  background: #FFFFFF;
}
.slider-wrapper .one:checked ~ .first, .slider-wrapper .two:checked ~ .second, .slider-wrapper .three:checked ~ .third {
  opacity: 1;
}

.hm-wrapper {
  max-width: 1440px;
  margin: 0 auto 100px;
  padding: 100px 70px 0;
  box-sizing: border-box;
}
.hm-wrapper__hm-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.hm-wrapper__hm-header h2, .hm-wrapper__hm-header a {
  color: #495057;
}
.hm-wrapper__hm-header h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}
.hm-wrapper__hm-header a {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  align-self: flex-end;
  transition: 0.4s;
  position: relative;
}
.hm-wrapper__hm-header a:hover {
  color: #000000;
}
.hm-wrapper__hm-header a:hover::before {
  width: 100%;
}
.hm-wrapper__hm-footer {
  min-height: 600px;
  background: url("../img/footer_bg_image.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .hm-wrapper__hm-footer {
    background: url("../img/footer_bg_image2x.jpg") center center no-repeat;
    background-size: cover;
  }
}
.hm-wrapper__hm-footer h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  max-width: 530px;
  letter-spacing: 1px;
}
@media all and (max-width: 375px) {
  .hm-wrapper__hm-footer h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }
}
.hm-wrapper__hm-footer p {
  max-width: 420px;
}
@media all and (max-width: 375px) {
  .hm-wrapper__hm-footer {
    padding: 90px 20px 0;
    row-gap: 20px;
  }
}
@media all and (max-width: 375px) {
  .hm-wrapper {
    padding: 90px 20px 0;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  justify-content: center;
  gap: 52px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6C757D;
}
.grid-wrapper img {
  width: 100%;
  margin-bottom: 13px;
}
.grid-wrapper h3 {
  margin: 13px 0;
}
.grid-wrapper a {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}
.grid-wrapper a:hover {
  text-decoration: underline;
}

.home-footer {
  background: #212529;
  color: #E5E5E5;
}
.home-footer__wrapper {
  min-height: 400px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 106px 210px 0 70px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 18px;
  line-height: 15px;
}
@media all and (max-width: 1199px) {
  .home-footer__wrapper {
    padding: 106px 70px 0;
  }
}
.home-footer__wrapper h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.home-footer__wrapper a {
  color: #E5E5E5;
  transition: 0.4s;
}
.home-footer__wrapper a:hover:not(.home-footer-social a) {
  text-decoration: underline;
}
.home-footer__wrapper p {
  margin-top: 18px;
}
.home-footer__wrapper li {
  margin-bottom: 18px;
}
.home-footer__wrapper .headquarter {
  flex: 0 1 110px;
}
@media all and (max-width: 593px) {
  .home-footer__wrapper .headquarter {
    margin-bottom: 18px;
  }
}
.home-footer__wrapper .home-footer-social {
  display: flex;
  column-gap: 18px;
}
.home-footer__wrapper .home-footer-social a {
  font-size: 20px;
}
.home-footer__wrapper .home-footer-social .icon-facebook:hover, .home-footer__wrapper .home-footer-social .icon-behance:hover {
  color: #4a6bd7;
}
.home-footer__wrapper .home-footer-social .icon-twitter:hover {
  color: #28aef6;
}
.home-footer__wrapper .home-footer-social .icon-youtube:hover, .home-footer__wrapper .home-footer-social .icon-pinterest:hover {
  color: #df2c2c;
}
.home-footer .home-footer__cc-wrapper {
  background: #343A40;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.home-footer .home-footer__cc-wrapper span {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  padding: 31px 70px;
  box-sizing: border-box;
}
@media all and (max-width: 375px) {
  .home-footer .home-footer__cc-wrapper span {
    padding: 30px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
